<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="KETNOI" connectionString="Data Source=DESKTOP-BAHA02E;Initial Catalog=DB_KHOA_LUAN;Integrated Security=True"/>
	</connectionStrings>
</configuration>